@import url('https://fonts.cdnfonts.com/css/poppins');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    padding: 0.20rem 2rem;
}

.logo {
    height: 50px;
}

a .logo {
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 0 15px;
}

nav a {
    color: #ddd;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #fff;
}

.hero-container {
    position: relative;
    text-align: center;
    padding: 7px 0;
    overflow: hidden;
}

.hero-bg {
    background-image: url('images/webbg6.png');
    filter: blur(2px);
    transform: scale(1.1);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero {
    position: relative;
    z-index: 1;
    
}

.hero-logo {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.button-container {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.hero-buttons {
    text-align: center;
    width: 100%;
    
}

.hero-button-group {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}

.hero-button-group p {
    margin: 0 0 0;
    font-weight: bold;
}

.btn {
    padding: 5px 30px;
    margin-top: 6px;
    background: #333333;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    display: block;
    font-size: 1em;
    border: none;
    transition: background-color 0.3s ease;
    width: 130px;
}

.btn:hover {
    background-color: rgb(73, 73, 73);
}

.main-content {
    background-color: #181818;
    color: #d0cdcd;
}

.info-sections {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2em 0;
    background-color: #333;
}

.info-box {
    flex: 1;
    margin: 0 1em;
    padding: 1em;
    background-color: #202020;
    border: 1px solid #444;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ccc;
    text-align: center;
    height: 260px;
}

.info-box:hover .server-info-content {
    filter: blur(5px); /* Adjust the blur value as needed */
}

.join-server-button {
    position: absolute;
    bottom: 5%; /* Adjust the position as needed */
    left: 16.5%;
    transform: translateX(-50%);
    display: none; /* Initially hidden */
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    text-decoration: none;
}

.info-box:hover .join-server-button {
    display: block; /* Show the button on hover */
}
.section-title {
    color: #fff;
    margin-bottom: 0.5em;
}

.section-content {
    color: #fff;
}

.social-links {
    display: grid;
    justify-content: center;
    gap: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.social-link i {
    width: 30px;
    text-align: center;
}

.social-link span {
    margin-left: 10px;
}

.social-link:hover {
    color: rgb(175, 174, 174);
}

@media (max-width: 768px) {
    .info-sections {
        flex-direction: column;
        align-items: center;
    }

    .info-box {
        width: 80%;
        margin-bottom: 1em;
    }
}

@media (max-width: 480px) {
    .info-box {
        width: 100%;
        border-radius: 0;
    }
}

.server-status {
    padding: 0.5em 1em;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 1em;
}

.online {
    background-color: #28a745;
}

.offline {
    background-color: #dc3545;
}

.rules-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1024px; /* Adjust the width as needed */
}

.content-container {
    background-color: #333;
    padding: 10px;
    color: #fff;
    max-width: 864px;
    margin: 0px auto;
    position: relative;
    padding-bottom: 10px;
}

.content-container h1 {
    text-align: center;
    margin-bottom: 0.7em;
}

.content-container h2 {
    color: #d0cdcd;
    margin-top: 0.7em;
    text-align: center;
}

.content-container p, .content-container ul {
    text-align: left;
    line-height: 1.8;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to left, transparent, #dfdfdf, transparent) 2;
    padding: 10px;
}

.content-container strong {
    color: #979393;
}

#community-guidelines {
    background-color: #333; /* or any other color you prefer */
    /* other styles specific to this section */
}

#roleplay-rules {
    background-color: #333; /* a slightly different shade for distinction */
    /* other styles specific to this section */
}

.discord-invite {
    background-color: rgb(43, 45, 49);
    border: 1px solid #202020;
    border-radius: 4px;
    box-sizing: border-box;
    height: 110px;
    padding: 16px;
    width: 432px;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    margin: 0 auto;
    
  }
  .discord-invite-text {
    block-size: 16px;
    font-size: 12px;
    height: 16px;
    margin-bottom: 12px;
    margin-top: 0px;
    text-transform: uppercase;
    color: rgb(185, 187, 190);
  }
  .discord-invite-body {
    display: flex;
    justify-content: center;
    width: 400px;
  }
  .discord-invite-image {
    background-image: url("https://cdn.discordapp.com/icons/SERVER-ID/SERVER-ICON-HASH.png?size=128");
    background-position: 50% 50%;
    background-size: 100% 100%;
    border-radius: 15px;
    margin-right: 16px;
    width: 50px;
  }
  .discord-invite-details {
    block-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 246.2px;
  }
  .discord-invite-name {
    margin: 0px;
    color: white;
    display: flex;
    font-size: 16px;
  }
  .discord-invite-verified {
    color: rgb(114, 137, 218);
    display: flex;
    margin-right: 8px;
  }
  .discord-invite-verified-tick {
    display: flex;
    position: absolute;
  }
  .discord-invite-verified-tick-svg {
    color: white;
  }
  .discord-invite-counts {
    margin: 0px;
    align-items: center;
    display: flex;
    color: rgb(185, 187, 190);
  }
  .discord-invite-status-icon {
    block-size: 8px;
    border-radius: 50%;
    inline-size: 8px;
    margin-right: 4px;
  }
  .discord-invite-online-icon {
    background-color: rgb(52, 150, 52);
  }
  .discord-invite-offline-icon {
    background-color: rgb(116, 127, 141);
  }
  .discord-invite-join-button {
    border-radius: 3px;
    align-items: center;
    background-color: rgb(52, 150, 52);
    block-size: 40px;
    box-sizing: border-box;
    color: white;
    display: flex;
    inline-size: 77.8px;
    justify-content: center;
    margin-left: 10px;
    padding: 2px 20px;
    text-decoration: none;
  }
  .discord-invite-count {
    font-size: 12px;
    margin-right: 8px;
  }

.discord-server-info {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 350px; /* Adjust the height as needed */
    padding: 10px;
}

.discord-server-info iframe {
    border: none; /* Removes the default border */
    border-radius: 8px; /* Optional: for rounded corners on the iframe */
}


*::-webkit-scrollbar {
    width: 0px;
}

footer {
    background-color: #202020;
    color: #d0cdcd;
    font-size: 0.9rem;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: top;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 1px solid #444;
}

.footer-section {
    flex: 1;
    text-align: center;
    padding: 0 15px;
    border-right: 1px solid #444;
}

.footer-section:last-child {
    border-right: none;
}

.about-us {
    flex: 1.5; /* More space for About Us */
}

.contact {
    flex: 0.75; /* Less space for Contact */
}

.footer-section h4 {
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
}

.footer-section p, .footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-section i {
    font-size: 1.5rem;
    color: #d0cdcd;
    margin-right: 10px;
}

.footer-section a {
    display: inline-flex;
    align-items: center;
    color: #d0cdcd;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #fff;
}

.footer-section ul li {
    margin-bottom: 10px;
    text-align: center;
}

.footer-section i:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        border-bottom: none;
    }

    .footer-section {
        width: 100%;
        margin-bottom: 20px;
        border-right: none;
        border-bottom: 1px solid #444;
    }

    .footer-section:last-child {
        border-bottom: none;
    }

    .footer-bottom {
        padding-top: 0;
    }
}
