@import url('https://fonts.cdnfonts.com/css/poppins');
/* Base styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020; /* Adjust the color to match the mockup */
    padding: 0.20rem 2rem;
}

.logo {
    height: 50px;
}

a .logo {
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 0 15px;
}

nav a {
    color: #ddd; /* Light grey text, adjust if necessary */
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #fff; /* Brighter white on hover */
}

.hero-container {
    position: relative;
    text-align: center;
    padding: 7px 0;
    overflow: hidden;
}

.hero-bg {
    background-image: url('images/webbg6.png');
    filter: blur(2px);
    transform: scale(1.1);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero {
    position: relative;
    z-index: 1;
    
}

.hero-logo {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.button-container {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.hero-buttons {
    text-align: center;
    width: 100%;
    
}

.hero-button-group {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}

.hero-button-group p {
    margin: 0 0 0;
    font-weight: bold;
}

.btn {
    padding: 5px 30px;
    margin-top: 6px;
    background: #333333;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    display: block;
    font-size: 1em;
    border: none;
    transition: background-color 0.3s ease;
    width: 130px;
}

.btn:hover {
    background-color: rgb(73, 73, 73); /* Darker orange on hover */
}

.main-content {
    background-color: #202020;
    color: #d0cdcd;
}

.info-sections {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2em 0;
    background-color: #333;
}

.info-box {
    flex: 1;
    margin: 0 1em; /* Spacing between boxes */
    padding: 1em;
    background-color: #202020;
    border: 1px solid #444;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ccc;
    text-align: center; /* Center the content */
    height: 260px;
}

.section-title {
    color: #fff;
    margin-bottom: 0.5em;
}

.section-content {
    color: #fff;
}

.social-links {
    display: grid;
    justify-content: center;
    gap: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.social-link i {
    width: 30px;
    text-align: center;
}

.social-link span {
    margin-left: 10px;
}

.social-link:hover {
    color: rgb(175, 174, 174);
}

@media (max-width: 768px) {
    .info-sections {
        flex-direction: column; /* Stack the boxes on smaller screens */
        align-items: center;
    }

    .info-box {
        width: 80%; /* Adjust width on smaller screens */
        margin-bottom: 1em; /* Spacing between stacked boxes */
    }
}

@media (max-width: 480px) {
    .info-box {
        width: 100%; /* Full width on very small screens */
        border-radius: 0; /* No rounded corners for full-width */
    }
}

.server-status {
    padding: 0.5em 1em;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    display: inline-block; /* or 'block' if you prefer */
    margin-bottom: 1em;
}

.online {
    background-color: #28a745; /* Green for online */
}

.offline {
    background-color: #dc3545; /* Red for offline */
}

.content-container {
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
    color: #fff; /* White text */
    max-width: 864px; /* Set a max-width for readability */
    margin: 0px auto; /* Center the container */
}

.content-container h1 {
    text-align: center;
    margin-bottom: 1em;
}

.content-container h2 {
    color: #d0cdcd;
    margin-top: 1em;
    text-align: center;
}

.content-container p, .content-container ul {
    text-align: left;
    line-height: 1.6; /* Improve readability */
}

.content-container strong {
    color: #ade0ff; /* A distinct color for key terms */
}

.discord-invite {
    background-color: rgb(47, 49, 54);
    border-radius: 4px;
    box-sizing: border-box;
    height: 110px;
    padding: 16px;
    width: 432px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    
  }
  .discord-invite-text {
    block-size: 16px;
    font-size: 12px;
    height: 16px;
    margin-bottom: 12px;
    margin-top: 0px;
    text-transform: uppercase;
    color: rgb(185, 187, 190);
  }
  .discord-invite-body {
    display: flex;
    justify-content: center;
    width: 400px;
  }
  .discord-invite-image {
    background-image: url("https://cdn.discordapp.com/icons/SERVER-ID/SERVER-ICON-HASH.png?size=128");
    background-position: 50% 50%;
    background-size: 100% 100%;
    border-radius: 15px;
    margin-right: 16px;
    width: 50px;
  }
  .discord-invite-details {
    block-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 246.2px;
  }
  .discord-invite-name {
    margin: 0px;
    color: white;
    display: flex;
    font-size: 16px;
  }
  .discord-invite-verified {
    color: rgb(114, 137, 218);
    display: flex;
    margin-right: 8px;
  }
  .discord-invite-verified-tick {
    display: flex;
    position: absolute;
  }
  .discord-invite-verified-tick-svg {
    color: white;
  }
  .discord-invite-counts {
    margin: 0px;
    align-items: center;
    display: flex;
    color: rgb(185, 187, 190);
  }
  .discord-invite-status-icon {
    block-size: 8px;
    border-radius: 50%;
    inline-size: 8px;
    margin-right: 4px;
  }
  .discord-invite-online-icon {
    background-color: rgb(67, 181, 129);
  }
  .discord-invite-offline-icon {
    background-color: rgb(116, 127, 141);
  }
  .discord-invite-join-button {
    border-radius: 3px;
    align-items: center;
    background-color: rgb(67, 181, 129);
    block-size: 40px;
    box-sizing: border-box;
    color: white;
    display: flex;
    inline-size: 77.8px;
    justify-content: center;
    margin-left: 10px;
    padding: 2px 20px;
    text-decoration: none;
  }
  .discord-invite-count {
    font-size: 12px;
    margin-right: 8px;
  }

*::-webkit-scrollbar {
    width: 0px;
}